[Unit]
Description=Azure Linux Agent
After=multi-user.target
ConditionVirtualization=microsoft

[Service]
Type=exec
ExecStart=/usr/sbin/waagent -daemon
Slice=azure.slice
CPUAccounting=yes

[Install]
WantedBy=multi-user.target
